@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-dark;
  @apply text-primary;
  @apply text-body-md;
}

#root {
  min-height: 100vh;
  position: relative;
}

.title {
  @apply text-display-lg;
  @apply mx-auto;
  @apply text-center;
  @apply mb-16;
}

p {
  @apply mb-4;
}
